<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    {% include 'bootstrap.html' %}
    {% include 'icons.html' %}
</head>
<body>
    {%  include 'nav.html' %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/john.jpg" class="img-fluid rounded-start" alt="...">
                <a href="{{ url_for('user_logout') }}" class="btn btn-outline-secondary mt-5">Logout</a>
              </div>
              <div class="col-md-8">
                <div>
                    <div class="card-body">
                        <h5 class="card-title">Profile</h5>
                        <p class="card-text"><strong>user id:</strong>{{ user.user_id }}</p>
                        <p class="card-text"><strong>username:</strong>{{ user.username }}</p>
                        <p class="card-text"><strong>email:</strong>{{ user.email }}</p>
                        <p class="card-text"><strong>country:</strong>{{ user.country }}</p>
                        <p class="card-text"><strong>address:</strong>{{ user.address }}</p>
                        <p class="card-text"><small class="text-muted"><strong>last login:</strong>{{ user.user_created_at }}</small></p>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>
</html>