<footer class="bg-teal py-3">
  <div class="container text-center">
    <a href="https://twitter.com/ofemjohn?t=BxBOrLJK61VtQS2YZtdocQ&s=09">
      <i class="fab fa-twitter fa-lg mx-2"></i>
    </a>
    <a href="https://www.facebook.com/john.ofem.5?mibextid=ZbWKwL">
      <i class="fab fa-facebook-f fa-lg mx-2"></i>
    </a>
    <a href="https://www.linkedin.com/in/ofem-john-649811134">
      <i class="fab fa-linkedin-in fa-lg mx-2"></i>
    </a>
    <a href="https://www.instagram.com/ofem.john/?igshid=ZDdkNTZiNTM%3D">
      <i class="fab fa-instagram fa-lg mx-2"></i>
    </a>
    <a href="https://github.com/ofemjohn">
      <i class="fab fa-github fa-lg mx-2"></i>
    </a>
  </div>
</footer>
